
.satinalimcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}


.leftButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonRow {
  display: flex;
  margin-bottom: 10px; 
}

.buttonRow label {
  margin-right: 10px; 
}

.rightButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  text-align: center;
  justify-content: center;
}

.actionInput {
  padding: 10px 20px; 
  margin: 5px;
  background-color: #fff; 
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out; 
}

.actionInput:focus {
  border-color: #007bff; 
  outline: none; 
}

.newButton {
  padding: 7.5px 0px; 
  margin: 5px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  width: 100px; 
  transition: background-color 0.3s ease-in-out; 
  text-align: center;
  justify-content: center;
}

.newButton:hover {
  background-color: #0056b3; 
  text-align: center;
}

.addButton, .logOutButton {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}
.addButton{
background-color: #06af30;
}

.logOutButton{
  background-color: #5e6161;
}
.addButton:hover, .logOutButton:hover {
  background-color: #0056b3; 
}

.addButton {
  right: 20px;
}

.logOutButton {
  left: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin: 20px 0;
}

table {
  border-radius: 5px;
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0;
  font-size: 16px;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  overflow: hidden; 
}

th, tdUrun, tdHizmet {
  text-align: center;
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background-color: #74bec1; /* Blue background for headers */
  color: #fff; /* White text */
}

td {
  text-align: center;
}


tbody tr:nth-child(even) {
  background-color: inherit;
}

tr:hover {
  background-color: #e9ecef; 
}

tbody tr.urunRow {
  background-color: #ed0909 !important; 
}

tbody tr.hizmetRow {
  background-color: #ffa008 !important; 
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.tableButton {
  padding: 5px 10px; 
  background-color: #516091; 
  color: #fff; 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out; 
}

.tableButton:hover {
  background-color: #0056b3; 
}
